<h2>Signup</h2>

<form action="/users" method="POST">
  <label for="name">Name:</label>
  <input id="name" type="text" id="name">
  <label for="email">Email:</label>
  <input type="text" name="email" id="email">
  <label>Password:</label>
  <input type="password" name="password" id="password">
<input type="submit" />


</form>