<h1>Add Song</h1>
<form action="/songs" method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title">
  <label for="artist">Artist: </label>
  <input type="text" id="artist" name="artist">
  <input type="submit" />
</form><br><br>

<button><a href="/songs">Go back to playlist</a></button>
