<h4 align="left">Welcome, <%= current_user.email%>
<h2>Songs:</h2>

<% @songs.each do |song|%>
  <ol>
  <h3><a href="/songs/<%=song.id%>"> <%= "#{song.title}: #{song.artist}" %></a></h3>
  </ol>
<% end %><br><br>

<button><a href="/songs/new"> Add Song </a></button>