<h1>Welcome to Potisfy!</h1>

<nav>
  <% if logged_in? %>
   <p>Welcome, <%=current_user.name %></p>
   <%redirect "/songs"%>
    <!-- <a href="/songs"> Create Song </a> -->
    <!-- <a href="/logout"> Log Out </a> -->
  <% else %>
  <h2>Please Login or Signup</h2>

    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>