  
<!doctype html>
<html>
  <head>
    <title>Potisfy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <div class="container">
      <% if logged_in? %>
      <h2 align="right"><a href="/logout">Logout</a></h2> 
      <% end %>
      <h1 align="left">Potisfy</h1>
      <%= yield %>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>